<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="logname" value="spark-spike" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator" />
            <providers>
                <pattern>
                    <!-- the pattern that defines what to include -->
                    <pattern>
                        { 
                            "date": "%date{dd MMM yyyy HH:mm:ss.SSS}",
                            "thread": "%thread",
                            "level": "%level",
                            "logger": "%logger",
                            "line": "%L",
                            "message": "%msg"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>        <!-- <encoder>
            <pattern>%green(%date{dd MMM yyyy HH:mm:ss.SSS}) %-4relative [%thread] %highlight(%level{5}) %cyan(%logger{35}) %blue(%L) : %msg%n
            </pattern>
        </encoder> -->
    </appender>

    <timestamp key="byDay" datePattern="yyyyMMdd'T'HHmmss" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/${logname}-${byDay}.txt </file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${user.home}/logs/${logname}.%d{yyyy-MM-dd}.%i.txt
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date{dd MMM yyyy HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} %L : %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="ERROR"/>
    <logger name="org.springframework" level="WARN" />
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="com.zaxxer.hikari" level="ERROR" />
    <logger name="org.sparkproject" level="WARN" />
    <logger name="org.apache.spark" level="WARN" />
    <logger name="io.netty" level="WARN" />
    <logger name="net.ljcomputing" level="DEBUG" />

    <root>
        <level value="DEBUG" />
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>